<form>
  <!-- Email input -->
  <div class="form-outline mb-4" style="max-width: 500px; margin-left: auto;margin-right: auto; margin-top: 10rem;">
    <input type="email" id="form2Example1" class="form-control" style="" />
    <label class="form-label" for="form2Example1">Email address</label>
  </div>

  <!-- Password input -->
  <div class="form-outline mb-4" style="max-width: 500px; margin-left: auto;margin-right: auto; margin-top: 1rem;">
    <input type="password" id="form2Example2" class="form-control" />
    <label class="form-label" for="form2Example2">Password</label>
  </div>

  <!-- Submit button -->
  <button type="button" class="btn btn-primary btn-block mb-4" style="margin-left: auto;margin-right: auto; display: flex; justify-content: center;">Sign in</button>

  <!-- Register buttons -->
  <div class="text-center">
    <p>Not a member? <a href="/signup">Register</a></p>
  </div>
</form>