<form method="post" action="/signup">
  <!-- Email input -->
  <div class="form-outline mb-4" style="max-width: 500px; margin-left: auto;margin-right: auto; margin-top: 10rem;">
    <input name="name" type="name" id="name" class="form-control" style="" />
    <label class="form-label" for="name">Name</label>
  </div>
  <div class="form-outline mb-4" style="max-width: 500px; margin-left: auto;margin-right: auto; margin-top: 1rem;">
    <input name="email" type="email" id="form2Example1" class="form-control" style="" />
    <label class="form-label" for="form2Example1">Email address</label>
  </div>

  <!-- Password input -->
  <div class="form-outline mb-4" style="max-width: 500px; margin-left: auto;margin-right: auto; margin-top: 1rem;">
    <input name="password" type="password" id="form2Example2" class="form-control" />
    <label class="form-label" for="form2Example2">Password</label>
  </div>

  <!-- Submit button -->
  <button type="button" class="btn btn-primary btn-block mb-4" style="margin-left: auto;margin-right: auto; display: flex; justify-content: center;">Sign up</button>

  <!-- login buttons -->
  <div class="text-center">
    <p>Already a member?<a href="/login">login</a></p>
  </div>
</form>